* {
  box-sizing: border-box;
}
body {
  background-image: rgb(8, 88, 247);
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.comtainer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.comtainer h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: aqua;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
